name: Publish

on:
    push:
        branches:
            - main

permissions:
    contents: write

jobs:
    main:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0
                  fetch-tags: true

            - name: Fetch all tags (safety net)
              run: git fetch --depth=1 --tags

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 22
                  cache: 'npm'
                  registry-url: 'https://registry.npmjs.org'

            - name: Install dependencies
              run: npm ci --legacy-peer-deps

            - name: Confirm Nx version
              run: npx nx --version

            - name: Set Nx Base and Head SHAs
              uses: nrwl/nx-set-shas@v4

            - name: CI tstl-plugin
              run: npx nx run-many -t lint test build -p tstl-plugin

            - name: Move tstl-plugin build to CLI
              run: npx nx run tstl-plugin:move-build-to-cli

            - name: CI affected projects
              run: NODE_OPTIONS=--experimental-vm-modules npx nx affected -t lint test build --exclude=tstl-plugin

            - name: Run post build on affected projects
              run: npx nx affected -t post-build

            - name: Get affected projects for publishing
              id: check
              run: |
                  CHANGED=$(npx nx show projects --affected --exclude=@crankscript/source,tstl-plugin --sep ',')
                  echo "changed=$CHANGED" >> "$GITHUB_OUTPUT"

            - name: Set Git user name
              run: git config user.name github-actions
              if: steps.check.outputs.changed != ''

            - name: Set Git user email
              run: git config user.email github-actions@github.com
              if: steps.check.outputs.changed != ''

            - name: Release
              run: npx nx release -p=${{ steps.check.outputs.changed }} --yes --verbose
              if: steps.check.outputs.changed != ''
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
